@charset "UTF-8";
.m-accountoverview{padding:54px 40px 20px;}
.m-accountoverview .account{width:420px;float:left;}
.m-accountoverview .account .title{font-size:16px;font-weight:normal;color:#666;}
.m-accountoverview .account .account-list{margin-top:24px;padding:40px 0 40px 40px;text-align:left;background:#f7f7f7;}
.m-accountoverview .account .account-list .list-info{display:inline-block;width:160px;}
.m-accountoverview .account .account-list .list-info .info{font-family:"SimSun";font-size:12px;color:#666;}
.m-accountoverview .account .account-list .list-info .detail{padding-top:18px;}
.m-accountoverview .account .account-list .list-info .detail .money{color:#343434;font-size:32px;}
.m-accountoverview .account .account-list .list-info .detail .money .spot{font-size:26px;}
.m-accountoverview .account .account-list .list-info .detail .money .decimal{font-size:16px;}
.m-accountoverview .account .account-list .link{font-family:"SimSun";font-size:12px;color:#548bdc;margin-left:20px;display:inline-block;}
.m-accountoverview .account .account-list .hr{margin-top:24px;border:0;background:#e6e6e6;height:1px;width:100%;overflow:hidden;}
.m-accountoverview .account .account-list .list2{width:160px;padding-top:24px;display:inline-block;font-family:"SimSun";font-size:12px;color:#666;}
.m-accountoverview .account .account-list .list2 .content{font-size:14px;color:#343434;padding-top:14px;}
.m-accountoverview .chart{padding:32px 0 17px;border-bottom:1px solid #dcdcdc;}
.m-accountoverview .chart .head{line-height:30px;font-size:16px;}
.m-accountoverview .chart-box{width:100%;height:405px;}
