@charset "UTF-8";
.m-accountoverview .account{width:500px;float:left;height:300px;border:1px solid #eee;border-radius:5px;}
.m-accountoverview .account-info{font-size:16px;border-bottom:1px solid #eee;}
.m-accountoverview .account-list{text-align:left;}
.m-accountoverview .account-list dt,.m-accountoverview .account-list dd{float:left;}
.m-accountoverview .account-list dt{width:200px;padding-right:10px;text-align:right;}
