@charset "UTF-8";
.m-balancewarning{padding:54px 40px 20px;}
.m-balancewarning ::-webkit-input-placeholder{color:#b3b3b3;}
.m-balancewarning :-moz-placeholder{color:#b3b3b3;}
.m-balancewarning ::-moz-placeholder{color:#b3b3b3;}
.m-balancewarning :-ms-input-placeholder{color:#b3b3b3;}
.m-balancewarning .title{font-size:16px;font-weight:normal;color:#666;line-height:16px;padding-left:12px;}
.m-balancewarning .list{margin-top:24px;border-top:1px solid #ebebeb;}
.m-balancewarning .list li{border-bottom:1px dashed #dcdcdc;}
.m-balancewarning .list li .name{font-size:14px;float:left;height:75px;line-height:75px;width:80px;text-align:right;color:#666;overflow:hidden;}
.m-balancewarning .list li .yj-icon{background:url("../res/images/yj.png") 30px 25px no-repeat;}
.m-balancewarning .list li .yj-phone-icon{background:url("../res/images/yj-phone.png") 30px 25px no-repeat;}
.m-balancewarning .list li .yj-email-icon{background:url("../res/images/yj-email.png") 30px 25px no-repeat;}
.m-balancewarning .list li .company{font-size:14px;color:#333;float:left;padding:32px 0 0 20px;}
.m-balancewarning .list li .text1{font-size:14px;line-height:14px;color:#666;}
.m-balancewarning .list li .text2{font-size:12px;line-height:12px;color:#999;padding:16px 0 26px;}
.m-balancewarning .list li .text3{font-size:12px;line-height:16px;color:#333;display:inline-block;float:left;width:540px;word-break:break-all;}
.m-balancewarning .list li .btn{width:72px;height:30px;line-height:30px;border-radius:3px;border:1px solid #dcdcdc;color:#666;background:#f7f7f7;text-align:center;margin:14px 18px 0 0;float:right;cursor:pointer;}
.m-balancewarning .list li .disabled-btn{float:right;color:#999;line-height:60px;padding-right:28px;}
.yj-text{width:291px;margin:86px auto 24px;font-size:14px;color:#666;text-align:left;}
.yj-box{position:relative;width:291px;margin:0 auto;}
.yj-box .yj-input{width:269px;border:1px solid #dcdcdc;border-radius:3px;height:38px;line-height:38px;padding:0 10px;}
.yj-box .yj-unit{position:absolute;right:10px;top:16px;font-size:12px;color:#333;background:#fff;}
.success-icon{background:url("../res/images/success.png") no-repeat;width:84px;height:84px;display:inline-block;margin:70px auto 0;}
.success-text2{text-align:center;padding-top:24px;font-size:14px;color:#999;}
.success-text3{color:#333;}
.email-text{font-size:14px;color:#666;width:290px;margin:48px auto 10px;text-align:left;}
.email-list-box{text-align:left;width:290px;margin:0 auto;}
.email-list{margin-top:14px;border:1px solid #e4e4e4;border-radius:3px;color:#999;font-size:14px;height:26px;line-height:26px;padding:0 8px 0 10px;display:inline-block;}
.email-list .lisy-close-icon{background:url("../res/images/X.png") no-repeat;width:14px;height:14px;float:left;margin:6px 0 0 10px;cursor:pointer;}
.add-email-text{font-size:14px;color:#666;width:290px;margin:56px auto 8px;text-align:left;}
.add-email-text2{font-size:12px;color:#999;line-height:40px;float:left;font-family:"SimSun";cursor:pointer;}
.add-email-box{width:290px;margin:16px auto 0;}
.add-email-input{width:274px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.add-email-input-width{width:144px;float:left;}
.add-email-verify{width:75px;height:30px;background:#eee;margin:5px 8px 0 10px;float:left;}
.send-email-code-text1{width:290px;margin:96px auto 0;font-size:16px;line-height:16px;color:#333;text-align:left;}
.send-email-code-text2{width:290px;margin:6px auto 0;font-size:12px;line-height:16px;color:#999;text-align:left;}
.send-email-code-text3{color:#333;}
.add-email-code-text1{width:290px;margin:96px auto 0;font-size:14px;line-height:14px;color:#666;text-align:left;}
.add-email-code-text2{color:#333;}
.add-email-code-box{width:290px;margin:24px auto 0;}
.add-email-code-box .code-input{width:144px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.add-email-code-box .verify-btn{width:116px;height:38px;line-height:38px;text-align:center;border:1px solid #dcdcdc;border-radius:3px;background:#f7f7f7;color:#666;font-size:14px;display:inline-block;margin-left:12px;}
