@charset "UTF-8";
.m-datastatistics{padding:54px 40px 20px;}
.m-datastatistics *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.m-datastatistics .title{font-size:16px;font-weight:normal;color:#666;line-height:16px;}
.m-datastatistics .head{padding:24px 0;line-height:30px;border-bottom:1px solid #dcdcdc;}
.m-datastatistics .time-input{float:left;width:180px;padding-left:12px;margin-left:26px;height:30px;line-height:30px;border-radius:3px;border:1px solid #dcdcdc;color:#666;}
.m-datastatistics .time-list{float:left;margin-left:30px;}
.m-datastatistics .time-list li{width:70px;line-height:28px;text-align:center;border:1px solid #dcdcdc;border-radius:3px;background:#f7f7f7;color:#666;float:left;margin-right:12px;cursor:pointer;}
.m-datastatistics .time-list .cur{border:1px solid #3e3e3e;background:#535353;color:#fff;}
.m-datastatistics .chart-box{width:100%;height:410px;}
.m-datastatistics .down-btn{float:right;width:76px;height:28px;line-height:28px;}
.m-datastatistics .data-list{font-size:12px;color:#999;margin-top:24px;}
.m-datastatistics .data-list thead{background:#f7f7f7;}
.m-datastatistics .data-list thead td{height:36px;text-align:center;}
.m-datastatistics .data-list tbody{background:#fff;}
.m-datastatistics .data-list tbody td{height:60px;color:#666;text-align:center;border-bottom:1px solid #dcdcdc;}
.m-datastatistics .data-list .td1{padding-left:16px;width:122px;}
.m-datastatistics .data-list .td2{width:104px;}
.m-datastatistics .data-list .td3{width:72px;}
.m-datastatistics .pager-box{margin-top:36px;}
