.m-dialog{position:fixed;top:0;right:0;left:0;bottom:0;text-align:center;}
.m-dialog .m-over{position:fixed;left:0;top:0;right:0;bottom:0;background:#000;opacity:0;}
.m-dialog .dialog-main{display:inline-block;background:#fff;border-radius:3px;position:relative;}
.m-dialog .dialog-head{padding:30px 30px 0 30px;text-align:left;}
.m-dialog .title{font-size:16px;line-height:16px;color:#333;}
.m-dialog .icon-close{float:right;background:url("../res/images/X2.png") no-repeat;width:9px;height:9px;overflow:hidden;cursor:pointer;}
.m-dialog .dialog-body{text-align:center;}
.m-dialog .btn-group{width:480px;margin:36px auto 0;}
.m-dialog .btn-group .btn{width:290px;height:38px;line-height:38px;text-align:center;border:1px solid transparent;border-radius:3px;background:#12a76b;color:#fff;font-size:15px;display:inline-block;margin-right:10px;}
.m-dialog .btn-group .btn-center{margin:0 auto;}
.m-dialog .yj-text{width:291px;margin:86px auto 24px;font-size:14px;color:#666;text-align:left;}
.m-dialog .yj-box{position:relative;width:291px;margin:0 auto;}
.m-dialog .yj-box .yj-input{width:269px;border:1px solid #dcdcdc;border-radius:3px;height:38px;line-height:38px;padding:0 10px;}
.m-dialog .yj-box .yj-unit{position:absolute;right:10px;top:16px;font-size:12px;color:#333;background:#fff;}
.m-dialog .success-icon{background:url("../res/images/success.png") no-repeat;width:84px;height:84px;display:block;margin:70px auto 0;}
.m-dialog .success-text2{text-align:center;padding-top:24px;font-size:14px;color:#999;}
.m-dialog .success-text3{color:#333;}
.m-dialog .dialog-text{font-size:14px;color:#666;width:290px;margin:48px auto 10px;text-align:left;}
.m-dialog .dialog-list-box{text-align:left;width:290px;margin:0 auto;}
.m-dialog .dialog-list{margin-top:14px;border:1px solid #e4e4e4;border-radius:3px;color:#999;font-size:14px;height:26px;line-height:26px;padding:0 8px 0 10px;display:inline-block;cursor:pointer;}
.m-dialog .dialog-list .lisy-close-icon{background:url("../res/images/X.png") no-repeat;width:14px;height:14px;float:left;margin:6px 0 0 10px;cursor:pointer;visibility:hidden;}
.m-dialog .cur{border:1px solid #12a76b;color:#666;}
.m-dialog .cur .lisy-close-icon{visibility:visible;}
.m-dialog .set-phone-text{font-size:24px;color:#666;padding-top:46px;text-align:center;}
.m-dialog .set-phone-text2{font-size:12px;color:#333;width:290px;margin:50px auto 19px;text-align:left;}
.m-dialog .phone-list{width:290px;margin:0 auto;}
.m-dialog .phone-list li{width:122px;height:26px;line-height:26px;border:1px solid #e4e4e4;color:#999;padding-left:16px;margin-top:5px;float:left;text-align:left;cursor:pointer;}
.m-dialog .phone-list .phone-wd{min-width:78px;}
.m-dialog .phone-list .phone-close-icon{background:url("../res/images/X.png") no-repeat;width:14px;height:14px;margin:6px 0 0 10px;float:left;display:none;}
.m-dialog .phone-list .cur{border:1px solid #12a76b;color:#666;}
.m-dialog .phone-list .cur .phone-close-icon{display:inline-block;}
.m-dialog .add-dialog-text{font-size:14px;color:#666;width:290px;margin:56px auto 8px;text-align:left;}
.m-dialog .add-dialog-text2{font-size:12px;color:#999;line-height:40px;float:left;font-family:"SimSun";cursor:pointer;}
.m-dialog .add-dialog-box{width:290px;margin:16px auto 0;}
.m-dialog .add-dialog-input{width:274px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.m-dialog .add-dialog-input-width{width:144px;float:left;}
.m-dialog .add-dialog-verify{width:75px;height:30px;background:#eee;margin:5px 8px 0 10px;float:left;}
.m-dialog .send-dialog-code-text1{width:290px;margin:96px auto 0;font-size:16px;line-height:16px;color:#333;text-align:left;}
.m-dialog .send-dialog-code-text2{width:290px;margin:6px auto 0;font-size:12px;line-height:16px;color:#999;text-align:left;}
.m-dialog .send-dialog-code-text3{color:#333;}
.m-dialog .add-dialog-code-text1{width:290px;margin:96px auto 0;font-size:14px;line-height:14px;color:#666;text-align:left;}
.m-dialog .add-dialog-code-text2{color:#333;}
.m-dialog .add-dialog-code-box{width:290px;margin:24px auto 0;}
.m-dialog .add-dialog-code-box .code-input{width:144px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.m-dialog .add-dialog-code-box .verify-btn{width:116px;height:38px;line-height:38px;text-align:center;border:1px solid #dcdcdc;border-radius:3px;background:#f7f7f7;color:#666;font-size:14px;display:inline-block;margin-left:12px;cursor:pointer;}
