@charset "UTF-8";
.m-liveaddress{padding:54px 40px 20px;}
.m-liveaddress .title{font-size:16px;font-weight:normal;color:#666;line-height:16px;padding-left:12px;}
.m-liveaddress .info{margin-top:24px;border-top:1px solid #ebebeb;}
.m-liveaddress .info .dl-line dt{float:left;width:60px;}
.m-liveaddress .info .dl-line .dd-list1{float:left;padding-left:12px;width:320px;}
.m-liveaddress .info .dl-line .dd-list2{float:left;padding-left:16px;}
.m-liveaddress .info li{border-bottom:1px dashed #dcdcdc;}
.m-liveaddress .info li .name{font-size:14px;float:left;height:60px;line-height:60px;width:80px;text-align:right;color:#666;overflow:hidden;}
.m-liveaddress .info li .company{font-size:14px;color:#333;float:left;line-height:60px;padding-left:76px;}
.m-liveaddress .info li .btn{width:72px;height:30px;line-height:30px;border-radius:3px;border:1px solid #dcdcdc;color:#666;background:#f7f7f7;text-align:center;margin:14px 18px 0 0;float:right;cursor:pointer;}
.m-liveaddress .info li .disabled-btn{float:right;color:#999;line-height:60px;padding-right:28px;}
