@charset "UTF-8";
.m-liveaddress{padding:54px 40px 20px;}
.m-liveaddress .title{font-size:16px;font-weight:normal;color:#666;line-height:16px;padding-left:12px;}
.m-liveaddress .title2{font-size:16px;font-weight:normal;color:#666;line-height:16px;padding:54px 0 0 12px;}
.m-liveaddress .ve-bottom{vertical-align:bottom;}
.m-liveaddress .text{line-height:24px;}
.m-liveaddress .text2{line-height:24px;padding-left:36px;}
.m-liveaddress .text3{color:#666;padding:24px 0 0 12px;}
.m-liveaddress .text4{color:#999;padding:20px 0 63px 12px;line-height:12px;}
.m-liveaddress .text5{padding-left:12px;cursor:pointer;}
.m-liveaddress .text6{line-height:40px;}
.m-liveaddress .text7{font-family:"SimSun";color:#999;font-size:12px;line-height:40px;}
.m-liveaddress .text8{color:#666;font-size:12px;padding-top:108px;text-align:center;}
.m-liveaddress .text9{font-family:"SimSun";color:#999;font-size:12px;padding-bottom:16px;}
.m-liveaddress .text10{padding:0 36px 0 8px;display:inline-block;float:left;cursor:pointer;}
.m-liveaddress .radio-pos{float:left;margin-top:13px;}
.m-liveaddress .info{margin-top:24px;border-top:1px solid #ebebeb;}
.m-liveaddress .info .dl-line{margin-top:18px;color:#666;}
.m-liveaddress .info .dl-line dt{float:left;width:60px;text-align:right;}
.m-liveaddress .info .dl-line .dd-list1{float:left;padding-left:12px;width:320px;}
.m-liveaddress .info .dl-line .dd-list2{float:left;padding-left:16px;}
.m-liveaddress .info .dl-line .dd-list3{float:left;}
.m-liveaddress .info .info-btn{width:98px;height:38px;line-height:38px;font-size:12px;display:inline-block;}
.m-liveaddress .info .info-btn2{width:98px;height:38px;line-height:38px;font-size:12px;display:inline-block;}
.m-liveaddress .info .info-btn3{width:178px;display:inline-block;}
.m-liveaddress .info .info-line{padding:20px 0 0 12px;}
.m-liveaddress .info .info-input{width:358px;height:38px;line-height:38px;color:#959595;border:1px solid #dcdcdc;border-radius:3px;padding:0 6px 0 12px;margin-right:16px;}
.m-liveaddress .info .info-input2{width:300px;margin-right:0;}
.m-liveaddress .info .info-textarea{width:296px;min-height:91px;color:#666;border:1px solid #dcdcdc;border-radius:3px;padding:12px;resize:vertical;}
.m-liveaddress .info .upload{width:318px;height:178px;border:1px solid #dcdcdc;border-radius:3px;background:url("../res/images/icon_mycamare_update.png") center 56px no-repeat;cursor:pointer;}
.m-liveaddress .info .info-clear{padding-left:46px;}
.m-liveaddress .info li{border-bottom:1px dashed #dcdcdc;}
.m-liveaddress .info li .name{font-size:14px;float:left;height:60px;line-height:60px;width:80px;text-align:right;color:#666;overflow:hidden;}
.m-liveaddress .info li .company{font-size:14px;color:#333;float:left;line-height:60px;padding-left:76px;}
.m-liveaddress .info li .btn{width:72px;height:30px;line-height:30px;border-radius:3px;border:1px solid #dcdcdc;color:#666;background:#f7f7f7;text-align:center;margin:14px 18px 0 0;float:right;cursor:pointer;}
.m-liveaddress .info li .disabled-btn{float:right;color:#999;line-height:60px;padding-right:28px;}
