@charset "UTF-8";
body{background:#fafafa;}
.m-login-nav{width:100%;height:120px;background:#fafafa;}
.m-login-nav .nav{width:860px;margin:0 auto;color:#fff;background:#fafafa;}
.m-login-nav .nav .logo{float:left;background:url("../res/images/icon_logo_2.png") no-repeat;width:214px;height:70px;margin-top:27px;}
.m-footer{padding-top:20px;font-size:12px;color:#666;text-align:center;}
