@charset "UTF-8";
.m-nav{height:60px;line-height:60px;position:relative;}
.m-nav .logo{float:left;}
.m-nav .nav-right{float:right;padding-right:10px;}
.m-sliderbar{position:absolute;top:60px;bottom:0;width:200px;overflow:hidden;}
.m-sliderbar .sliderbar-list li{height:32px;line-height:32px;border:1px solid #dedede;}
.m-sliderbar .sliderbar-list .cur{background:#eee;}
.m-content{position:absolute;top:60px;left:200px;right:0;bottom:0;}
