@charset "UTF-8";
.m-mycamera{padding:52px 40px 20px;}
.m-mycamera ::-webkit-input-placeholder{color:#999;}
.m-mycamera :-moz-placeholder{color:#999;}
.m-mycamera ::-moz-placeholder{color:#999;}
.m-mycamera :-ms-input-placeholder{color:#999;}
.m-mycamera .title{font-size:16px;color:#666;line-height:16px;}
.m-mycamera .head{padding:24px 0;}
.m-mycamera .head .search{position:relative;float:left;}
.m-mycamera .head .search .search-input{font-size:12px;color:#999;padding-left:14px;width:224px;height:28px;line-height:28px;border:1px solid #dedede;border-radius:3px;}
.m-mycamera .head .search .search-icon{position:absolute;right:12px;top:7px;display:inline-block;background:url("../res/images/icon_search.png") no-repeat;background-size:contain;width:20px;height:20px;cursor:pointer;}
.m-mycamera .head .operation-text{float:right;font-size:14px;color:#666;line-height:30px;}
.m-mycamera .head .operation-list{float:right;height:28px;line-height:28px;border:1px solid #dcdcdc;background:#f7f7f7;border-radius:3px;font-size:12px;color:#666;}
.m-mycamera .head .operation-list li{position:relative;z-index:9;padding:0 28px 0 14px;float:left;cursor:pointer;}
.m-mycamera .head .operation-list .border{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;height:28px;}
.m-mycamera .head .operation-list .icon-more{display:inline-block;background:url("../res/images/icon_more.png") no-repeat;background-size:contain;width:8px;height:8px;position:absolute;top:12px;right:12px;}
.m-mycamera .head .operation-list .detail-list{display:none;position:absolute;right:0;top:28px;border:1px solid #dcdcdc;width:75px;line-height:40px;text-align:center;box-shadow:0 2px 2px 0 rgba(0,0,0,0.08);color:#666;}
.m-mycamera .head .operation-list .detail-list li{line-height:40px;background:#fff;padding:0;float:none;}
.m-mycamera .head .operation-list .detail-list li:hover{color:#12a76b;}
.m-mycamera .head .operation-list .detail-list .hr{height:1px;width:100%;background:#f0f0f0;overflow:hidden;position:absolute;bottom:0;left:0;border:0;}
.m-mycamera .head .operation-list .live{height:28px;line-height:28px;background:#12a76b;font-size:12px;color:#fff;}
.m-mycamera .head .operation-list .live .detail-list{display:block;}
.m-mycamera .camera-list{font-size:12px;color:#999;}
.m-mycamera .camera-list thead{background:#f7f7f7;}
.m-mycamera .camera-list thead td{height:36px;position:relative;}
.m-mycamera .camera-list tbody{background:#fff;}
.m-mycamera .camera-list tbody td{height:60px;border-bottom:1px solid #dcdcdc;}
.m-mycamera .camera-list .td1{padding-left:16px;width:122px;}
.m-mycamera .camera-list .td2{width:104px;}
.m-mycamera .camera-list .td3{width:72px;}
.m-mycamera .camera-list .td4{width:72px;}
.m-mycamera .camera-list .td5{width:72px;}
.m-mycamera .camera-list .td6{width:72px;}
.m-mycamera .camera-list .td7{width:72px;}
.m-mycamera .camera-list .td8{width:86px;}
.m-mycamera .camera-list .icon-more{display:inline-block;background:url("../res/images/icon_more.png") no-repeat;background-size:contain;width:8px;height:8px;margin-left:5px;}
.m-mycamera .camera-list .checkbox{background:url("../res/images/checkbox_fall.png") no-repeat;width:12px;height:12px;display:inline-block;cursor:pointer;}
.m-mycamera .camera-list .device-id{display:inline-block;width:60px;padding-left:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.m-mycamera .camera-list .device-name{display:inline-block;width:68px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.m-mycamera .camera-list .device-change{position:relative;}
.m-mycamera .camera-list .device-input{width:74px;height:22px;line-height:22px;margin-left:-12px;padding:0 16px 0 12px;border:1px solid #dedede;border-radius:3px;}
.m-mycamera .camera-list .close{position:absolute;right:15px;top:4px;display:inline-block;background:#999;color:#fff;border-radius:12px;line-height:14px;text-align:center;height:14px;width:14px;font-size:12px;}
.m-mycamera .camera-list .close:before{content:"\2716";}
.m-mycamera .camera-list .checkbox-true{background:url("../res/images/checkbox_true.png") no-repeat;}
.m-mycamera .camera-list .index-list{display:none;position:absolute;top:0;left:-24px;border:1px solid #dcdcdc;width:86px;line-height:36px;text-align:center;box-shadow:0 2px 2px 0 rgba(0,0,0,0.08);color:#666;}
.m-mycamera .camera-list .index-list li{line-height:36px;background:#fff;padding:0;float:none;cursor:pointer;}
.m-mycamera .camera-list .index-list li:hover{color:#12a76b;}
.m-mycamera .camera-list .index-list .self:hover{color:#666;}
.m-mycamera .camera-list .live .index-list{display:block;}
.m-mycamera .camera-list .icon-live{background:url("../res/images/icon_live_off.png") no-repeat;background-size:contain;display:inline-block;width:24px;height:24px;}
.m-mycamera .camera-list .icon-live-on{background:url("../res/images/icon_live_on.png") no-repeat;}
.m-mycamera .camera-list .icon-cloud{background:url("../res/images/icon_cloud_off.png") no-repeat;background-size:contain;display:inline-block;width:24px;height:24px;}
.m-mycamera .camera-list .icon-cloud-on{background:url("../res/images/icon_cloud_on.png") no-repeat;}
.m-mycamera .camera-list .operation-link{color:#548bdc;display:inline-block;}
.m-mycamera .camera-list .operation-link:hover{text-decoration:underline;}
.m-mycamera .camera-list .vertical-line{margin:0 12px;background:#dcdcdc;width:1px;height:8px;overflow:hidden;display:inline-block;}
.m-mycamera .pager-box{margin-top:36px;}
