@charset "UTF-8";
.m-play{width:760px;margin:190px auto 0;}
.m-play .pc-play{position:relative;width:760px;height:430px;}
.m-play .pc-play .play{width:100%;height:100%;background:#eee;}
.m-play .pc-play .pwd{background:#343434;position:absolute;left:0;top:0;right:0;bottom:0;text-align:center;}
.m-play .pc-play .pwd .icon-pwd{background:url("../res/images/icon_mycamera_lock_web.png") no-repeat;width:48px;height:48px;display:inline-block;margin-top:80px;}
.m-play .pc-play .pwd .pwd-text{padding:24px 0 54px;font-size:16px;color:#ccc;text-align:center;line-height:16px;}
.m-play .pc-play .pwd .pwd-box{width:214px;height:40px;margin:0 auto;}
.m-play .pc-play .pwd .pwd-box .pwd-input{padding-left:12px;width:112px;height:40px;border:0 none;background:#fff;border-radius:3px 0 0 3px;color:#000;float:left;}
.m-play .pc-play .pwd .pwd-box .pwd-btn{width:88px;height:38px;line-height:38px;color:#fff;font-size:14px;text-align:center;margin-left:-1px;float:left;}
.m-play .pc-title{font-size:16px;line-height:16px;color:#666;padding:40px 0 21px;}
.m-play .pc-text{font-size:12px;color:#666;line-height:18px;}
