@charset "UTF-8";
.m-wap-play .wap-play-box{position:relative;width:100%;}
.m-wap-play .wap-play-box .wap-play{width:100%;background:#eee;}
.m-wap-play .wap-play-box .pwd{background:#242424;position:absolute;left:0;top:0;right:0;bottom:0;text-align:center;}
.m-wap-play .wap-play-box .pwd .icon-pwd{background:url("../res/images/icon_mycamera_lock_web.png") no-repeat;background-size:contain;width:0.64rem;height:0.64rem;display:inline-block;margin-top:1.066667rem;}
.m-wap-play .wap-play-box .pwd .pwd-text{padding:0.373333rem 0 0.8rem;font-size:0.346667rem;color:#ccc;text-align:center;line-height:0.346667rem;}
.m-wap-play .wap-play-box .pwd .pwd-box{width:4.266667rem;height:0.853333rem;margin:0 auto;}
.m-wap-play .wap-play-box .pwd .pwd-box .pwd-input{padding-left:0.24rem;width:2.426667rem;height:0.853333rem;border:0 none;background:#fff;border-radius:0.04rem 0 0 0.04rem;color:#000;float:left;}
.m-wap-play .wap-play-box .pwd .pwd-box .pwd-btn{width:1.573333rem;height:0.826667rem;line-height:0.826667rem;color:#fff;font-size:0.333333rem;text-align:center;margin-left:-1px;float:left;}
.m-wap-play .wap-title{font-size:0.426667rem;line-height:0.426667rem;color:#666;padding:0.48rem 0 0.226667rem 0.48rem;}
.m-wap-play .wap-text{font-size:0.346667rem;color:#666;line-height:0.44rem;padding:0 0.48rem;}
