@charset "UTF-8";
.m-resetpwd{width:860px;height:520px;margin:0 auto;color:#333;background:#fff;}
.m-resetpwd .head{font-size:24px;line-height:24px;font-weight:normal;color:#333;text-align:center;padding:100px 0 60px;}
.m-resetpwd .text{font-size:12px;line-height:12px;color:#666;width:290px;margin:0 auto;}
.m-resetpwd .add-dialog-text2{font-size:12px;color:#999;line-height:40px;float:left;font-family:"SimSun";cursor:pointer;}
.m-resetpwd .add-dialog-box{width:290px;margin:16px auto 0;position:relative;}
.m-resetpwd .add-dialog-input{width:274px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.m-resetpwd .add-dialog-input-width{width:144px;float:left;}
.m-resetpwd .add-dialog-verify{width:75px;height:30px;background:#eee;margin:5px 8px 0 10px;float:left;}
.m-resetpwd .btn{width:290px;height:38px;line-height:38px;text-align:center;display:block;margin:36px auto 0;cursor:pointer;}
