@charset "UTF-8";
.m-resetpwdenter{width:860px;height:520px;margin:0 auto;color:#333;background:#fff;}
.m-resetpwdenter .head{font-size:24px;line-height:24px;font-weight:normal;color:#333;text-align:center;padding:100px 0 60px;}
.m-resetpwdenter .add-dialog-text{font-size:14px;color:#666;width:290px;margin:56px auto 8px;text-align:left;}
.m-resetpwdenter .add-dialog-text-mg{margin-top:0;}
.m-resetpwdenter .add-dialog-text2{font-size:12px;color:#999;line-height:40px;float:left;font-family:"SimSun";cursor:pointer;}
.m-resetpwdenter .add-dialog-text3{font-size:12px;color:#999;line-height:12px;width:290px;margin:10px auto 0;}
.m-resetpwdenter .add-dialog-box{width:290px;margin:0 auto;}
.m-resetpwdenter .add-dialog-input{width:274px;height:38px;line-height:38px;border:1px solid #ccc;border-radius:3px;padding-left:14px;}
.m-resetpwdenter .add-dialog-code-box{width:290px;margin:24px auto 0;}
.m-resetpwdenter .add-dialog-verify{width:75px;height:30px;background:#eee;margin:5px 8px 0 10px;float:left;}
.m-resetpwdenter .btn{width:290px;height:38px;line-height:38px;display:block;margin:16px auto 0;cursor:pointer;}
