@charset "UTF-8";
.m-resetpwdsuccess{width:860px;height:520px;margin:0 auto;color:#333;background:#fff;}
.m-resetpwdsuccess .head{font-size:24px;line-height:24px;font-weight:normal;color:#333;text-align:center;padding:100px 0 50px;}
.m-resetpwdsuccess .success-icon{background:url("../res/images/success.png") no-repeat;width:84px;height:84px;display:block;margin:0 auto;}
.m-resetpwdsuccess .success-text2{text-align:center;padding-top:14px;font-size:14px;color:#999;}
.m-resetpwdsuccess .success-text3{color:#333;}
.m-resetpwdsuccess .btn{width:290px;height:38px;line-height:38px;display:block;margin:36px auto 0;cursor:pointer;}
