@charset "UTF-8";
.m-resetpwdphone{width:860px;height:520px;margin:0 auto;color:#333;background:#fff;}
.m-resetpwdphone .head{font-size:24px;line-height:24px;font-weight:normal;color:#333;text-align:center;padding:100px 0 60px;}
.m-resetpwdphone .send-dialog-code-text1{width:290px;margin:0 auto;font-size:16px;line-height:16px;color:#333;text-align:left;}
.m-resetpwdphone .send-dialog-code-text2{width:290px;margin:6px auto 0;font-size:12px;line-height:16px;color:#999;text-align:left;}
.m-resetpwdphone .send-dialog-code-text3{color:#333;}
.m-resetpwdphone .send-dialog-code-text4{width:290px;margin:16px auto 0;font-size:16px;line-height:16px;color:#333;text-align:left;}
.m-resetpwdphone .btn{width:290px;height:38px;line-height:38px;text-align:center;border:1px solid transparent;border-radius:3px;background:#12a76b;color:#fff;font-size:15px;display:block;margin:36px auto 0;cursor:pointer;}
.m-resetpwdphone .other-text{width:290px;margin:20px auto 0;text-align:left;display:block;}
.m-resetpwdphone .other-text a{color:#548adc;}
