.m-tip{position: fixed;top: -45px;right: 0;left: 0;text-align: center;z-index: 10001;}
.m-tip p{font-size: 14px;line-height: 45px;display: inline-block;height: 45px;padding: 0 20px;color: #fff;border-radius: 0 0 5px 5px;background-color: #1abc9c;}
.m-tip.error-tip p{background: #e74c3c;}
.m-tip.success-tip p{background: #1abc9c;}

.m-toast{position: fixed;top: 50%;right: 0;left: 0;display: none;margin-top: -24px;text-align: center;z-index: 10001;}
.m-toast p{font-size: 12px;line-height: 48px;display: inline-block;height: 48px;padding: 0 20px;color: #fff;border-radius: 3px;padding: 0 40px 0  70px;}
.m-toast.error-tip p{background: url(../res/images/icon_enter_caveat.png) 40px center no-repeat #333;}
.m-toast.success-tip p{background: url(../res/images/icon_enter_true.png) 40px center no-repeat #333;}