.u-btn{width:118px;height:38px;line-height:38px;border-radius:3px;background:#12a76b;border:1px solid #0d945e;color:#fff;font-size:16px;text-align:center;display:inline-block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.u-btn:hover{background:#0f9961;border:1px solid #0a8956;text-decoration:none;}
.u-btn:active{background:#0c8957;border:1px solid #098050;}
.u-btn-disabled{width:118px;height:38px;line-height:38px;border-radius:3px;border:1px solid #0d945e;color:#fff;font-size:16px;opacity:0.2;text-align:center;display:inline-block;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.u-white-btn{width:118px;height:38px;line-height:38px;border-radius:3px;border:1px solid #dcdcdc;background:#f7f7f7;color:#666;font-size:12px;text-align:center;display:inline-block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.u-white-btn:hover{background:#ebebeb;border:1px solid #ccc;text-decoration:none;}
.u-white-btn:active{background:#ccc;border:1px solid #b3b3b3;}
.u-white-btn-disabled{width:118px;height:38px;line-height:38px;border-radius:3px;border:1px solid #dcdcdc;background:#f7f7f7;color:#666;font-size:16px;opacity:0.2;text-align:center;display:inline-block;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.u-a{font-size:16px;color:#666;text-decoration:none;}
.u-a:hover{text-decoration:underline;}
.u-a:active{color:#444;text-decoration:underline;}
.u-a-disabled{color:#ccc;}
.u-a-disabled:hover,.u-a-disabled:active{color:#ccc;text-decoration:none;}
.u-blue-a{font-size:12px;color:#4aaff8;text-decoration:none;}
.u-blue-a:hover{text-decoration:underline;}
.operation-list{float:right;height:30px;}
.operation-list li{background:#f7f7f7;border:1px solid #dcdcdc;border-radius:3px;font-size:12px;color:#666;height:28px;line-height:28px;position:relative;z-index:9;padding:0 28px 0 14px;float:left;cursor:pointer;}
.operation-list li:hover{background:#ebebeb;border-color:#ccc;z-index:11;}
.operation-list .light{border:1px solid #0d945e;background:#12a76b;color:#fff;}
.operation-list .light .icon-more-white{background:url("../res/images/icon_more_white.png") no-repeat;background-size:contain;}
.operation-list .light:hover{border:1px solid #0a8956;background:#0f9961;}
.operation-list .first{border-radius:3px 0 0 3px;margin-right:-1px;}
.operation-list .second{border-radius:0;}
.operation-list .third{border-radius:0 3px 3px 0;margin-left:-1px;}
.operation-list .border{margin-left:-1px;border-radius:0;}
.operation-list .icon-more{display:inline-block;background:url("../res/images/icon_more.png") no-repeat;background-size:contain;width:8px;height:8px;position:absolute;top:11px;right:12px;}
.operation-list .detail-list{display:none;position:absolute;right:0;top:28px;border:1px solid #dcdcdc;width:122px;line-height:40px;text-align:center;box-shadow:0 6px 4px 0 rgba(0,0,0,0.1);color:#666;}
.operation-list .detail-list li{height:40px;line-height:40px;background:#fff;padding:0;float:none;border:0;border-radius:0;position:relative;}
.operation-list .detail-list li .select-icon{background:url("../res/images/icon_drop_select.png") no-repeat;width:10px;height:10px;position:absolute;left:14px;top:15px;display:none;}
.operation-list .detail-list li:hover{background:#eee;}
.operation-list .detail-list li:hover .select-icon{display:inline-block;}
.operation-list .detail-list .hr{height:1px;width:100%;background:#f0f0f0;overflow:hidden;position:absolute;bottom:0;left:0;border:0;}
.operation-list .detail-list-wd{width:118px;}
.operation-list .live{background:#ebebeb;border:1px solid #ccc;color:#4c4c4c;z-index:11;}
.operation-list .live .detail-list{display:block;}
.operation-list .light.live{border:1px solid #0d945e;background:#12a76b;color:#fff;}
.icon-right{background:url("../res/images/checkbox_b_on.png") no-repeat;width:18px;height:18px;display:inline-block;vertical-align:middle;margin-left:5px;}
.register-icon{display:none;width:18px;height:18px;vertical-align:middle;margin:11px 0 0 5px;float:left;}
.icon-fail{background:url("../res/images/icon_enter_fail.png") no-repeat;}
.icon-caveat{background:url("../res/images/icon_enter_caveat.png") no-repeat;display:inline-block;}
.icon-true{background:url("../res/images/icon_enter_true.png") no-repeat;display:inline-block;}
.fail-text{padding-left:5px;height:40px;line-height:40px;}
.u-error-tip{display:none;}
.u-error-pos{display:none;}
.u-verify-error{position:relative;}
.u-verify-error .u-error-pos{display:block;position:absolute;top:0;left:290px;}
.u-verify-error .u-error-tip{display:block;color:#d76360;white-space:nowrap;}
.u-verify-error .u-error-tip .register-icon{display:inline-block !important;}
.u-verify-error input{border:1px solid #d76369 !important;background:#fbefef !important;}
