.m-video-play{position:fixed;top:0;right:0;bottom:0;left:0;text-align:center;}
.m-video-play .m-over{position:fixed;top:0;right:0;bottom:0;left:0;opacity:0;background:#000;}
.m-video-play .video-play-main{position:relative;display:inline-block;width:760px;color:#ccc;border-radius:3px;background:#303030;}
.m-video-play .video-play-head{line-height:40px;height:40px;font-size:16px;text-align:left;}
.m-video-play .title{font-size:14px;}
.m-video-play .c1{color:#12a86b;padding:0 15px 0 10px;}
.m-video-play .video-end{position:absolute;top:40px;left:0;width:760px;height:426px;background:rgba(0,0,0,0.8);z-index:100;}
.m-video-play .video-repeat{position:absolute;top:150px;left:276px;display:inline-block;width:86px;height:81px;background:url("../res/images/mycamera.png") -28px -29px;}
.m-video-play .video-repeat:hover{background:url("../res/images/mycamera.png") -28px -120px;}
.m-video-play .video-next{position:absolute;top:150px;left:398px;display:inline-block;width:86px;height:81px;background:url("../res/images/mycamera.png") -120px -29px;}
.m-video-play .video-next:hover{background:url("../res/images/mycamera.png") -120px -120px;}
.m-video-play .video-close-icon{float:right;margin:11px 11px auto auto;width:16px;height:16px;background:url("../res/images/mycamera.png") -209px -184px;cursor:pointer;}
.m-video-play .video-close-icon:hover{background:url("../res/images/mycamera.png") -209px -92px;}
