<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta property="qc:admins" content="2360207247636375" />
    <title>登陆</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1" />
    <meta name="baidu-site-verification" content="v7UEg8ALz5" />
    <meta name="keywords" content="青果摄像机、网易摄像机、智能摄像机、摄像机、wifi摄像机、无线摄像机、直播、直播平台、青果直播、直播网站、视频网站、智能硬件、智能家居、网易、青果网易、青果、Olive、camera、video、live、show"/>
    <meta name="description" content="青果直播是网易自营的生活娱乐直播平台，只要通过青果摄像机，即可进行全方位的现场直播。青果摄像机是网易首款智能硬件，拥有高清画质和声音，随时关注家里小孩、宠物、老人，为家人带来全方位安全保障。"/>
    <link rel="shortcut icon" href="./icon.png" type="image/x-icon">
</head>
<body>
    <div id="login"></div>
</body>
</html>